<h1><%= t('.title') %></h1>

<%= form_for(@session) do |f| %>
  <div>
    <%= f.text_field(:email) %>
    <% @session.errors[:email].each do |message| %><%= message %><br><% end %>
  </div>
  <div>
    <%= f.password_field(:password) %>
    <% @session.errors[:password].each do |message| %><%= message %><br><% end %>
  </div>
  <%= f.submit(t('.submit')) %>
<% end %>
