<h1><%= t('.title') %></h1>
<p><%== t('.message', link: new_user_path) %></p>
<%= bootstrap_form_with(model: @session, local: true) do |f| %>
  <%= f.text_field(:email) %>
  <%= f.password_field(:password) %>
  <%= f.submit(t('.submit')) %>
  <%= link_to(t('.login_by_google'), auth_at_provider_path(provider: :google)) %>
  <%= link_to(t('.login_by_twitter'), auth_at_provider_path(provider: :twitter)) %>
<% end %>
